{{template "base" .}}

{{define "content"}}
    <form class="form-group border p-4 shadow bg-white" action="" method="POST">
        <h2>New Chirp</h2>

        <label class="font-weight-bold" for="userid">Userid</label>
        <input class="form-control bg-secondary" id="userid" name="userid" type="text" />

        <label class="mt-4 font-weight-bold" for="content">Content</label>
        <textarea class="form-control my-1 bg-secondary" id="content" name="content" rows={6} type="text"></textarea>
        
        <label class="mt-4 font-weight-bold" for="location" >Location</label>
        <input class="form-control bg-secondary" id="location" name="location" type="text" />

        <button class="btn btn-success mt-4 font-weight-bold" type="submit">Submit</button>
    </form>

    <button id="colorButton">Button</button>
{{end}}
        