{{template "base" .}}

{{define "content"}}

    {{$chirp := index .Data "chirp"}}

    <form class="form-group border p-4 shadow bg-white " action="/chirps/new" method="POST" novalidate>
        <input type="hidden" name="csrf_token" value="{{.CSRFToken}}">

        <h2>New Chirp</h2>

        <label class="font-weight-bold" for="userid">Userid:</label>
        {{with .Form.Errors.Get "userid"}}
            <label class="text-danger">{{.}}</label>
        {{end}}
        <input class='form-control bg-secondary {{with .Form.Errors.Get "userid"}} is-invalid {{end}}' id="userid"
            name="userid" type="text" value="{{$chirp.UserID}}" required />

        <label class="mt-4 font-weight-bold" for="content">Content:</label>
        {{with .Form.Errors.Get "content"}}
            <label class="text-danger">{{.}}</label>
        {{end}}
        <input class='form-control my-1 bg-secondary {{with .Form.Errors.Get "content"}} is-invalid {{end}}' id="content" 
            name="content" rows={6} type="text" value="{{$chirp.Content}}" required />

        <label class="mt-4 font-weight-bold" for="location">Location:</label>
        {{with .Form.Errors.Get "location"}}
            <label class="text-danger">{{.}}</label>
        {{end}}
        <input class='form-control bg-secondary {{with .Form.Errors.Get "location"}} is-invalid {{end}}' id="location" 
            name="location" type="text" value="{{$chirp.Location}}" required />

        <button class="btn btn-success mt-4 font-weight-bold" type="submit">Submit</button>
    </form>
{{end}}